{% extends "layout.html" %} {% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card bg-dark text-light p-4" style="width: 50rem">
    <h3 class="text-center mb-4">Forgot My Password</h3>
    <form method="POST">
      <!-- email -->
      <div class="mb-3">
        <label for="email" class="form-label">Please enter your e-mail</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="example@email.com"
          required
        />
      </div>
      <!-- userID -->
      <div class="mb-3">
        <label for="userID" class="form-label">Please enter your user ID</label>
        <input
          type="text"
          name="userID"
          id="userID"
          class="form-control"
          required
        />
      </div>
      <!-- birthDate -->
      <div class="mb-3">
        <label for="birthDate" class="form-label"
          >Please enter your birthday</label
        >
        <input
          type="date"
          name="birthDate"
          id="birthDate"
          class="form-control"
          required
        />
      </div>
      <!-- password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" required />
      </div>
      <!-- confirm password -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          required
        />
      </div>
      <!-- Submit btn -->
      <button id="forgotPassword" class="btn btn-success w-100">
        Reset My Password
      </button>
    </form>
    <!-- message alert -->
    <div
      id="message"
      class="alert alert-info mt-3 text-center d-none"
      role="alert"
    ></div>
    <!-- Return to Login -->
    <div class="text-center mt-3">
      <a href="/login" class="btn-link text-decoration-none">Return to login</a>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/forgotPassword.js') }}"></script>
{% endblock content %}
